host = "localhost"
user = "root"
password = "123"
database = "blog"
debug = False
panel_password = "test123"

whitelist = ['192.168.1.1'
,'10.10.10.10'
,'127.0.0.1'
,'coukp.tk'
,'192.168.167.194'
,'172.16.1.30'
,'frankom.top'
,'51.77.61.38']

#cp env.py.example env.py
