@font-face {
    font-family: 'Artifika';
    src: url('/static/Artifika/Artifika-Regular.ttf') format('truetype');  
}

.headerBtn{
    font-size: medium;
    text-decoration-line: underline;
    border-radius: 30%;
    font-family: 'Artifika';
}

.login{
    font-size: large;
}

body{
    background-color: #3a3b3c;
}

h1, h2, h3{
    color: white;
    font-family: 'Artifika';
}

.name{
    font-size: 300%;
}

.title{
    font-size: 250%;
}

#wrongpass{
    background-color: red;
    width: 25%;
    border-radius: 10px;
    display: none;
}

.adminContent{
    font-size: large;
}

#isHidden{
    opacity: 0%;
}