@font-face {
    font-family: 'Garamond';
    src: url('/static/Garamond/EBGaramond-Bold.ttf') format('truetype');  
}

.headerBtn{
    font-size: medium;
    text-decoration-line: underline;
    border-radius: 30%;
    font-family: 'Garamond';
}

.login{
    font-size: large;
}

body{
    background-color: #3a3b3c;
}

h1, h2, h3{
    color: white;
    font-family: 'Garamond';
}

.name{
    font-size: 300%;
}

.title{
    font-size: 250%;
}

#wrongpass{
    background-color: red;
    width: 25%;
    border-radius: 10px;
    display: none;
}

.adminContent{
    font-size: large;
}

#isHidden{
    opacity: 0%;
}

#miku{
    margin-top: -30%;
}

#line{
    width: 20%;
    size: 2;
}

#contains{
    max-width: 60%;
}

#hide{
    float: right;
}