<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Panel</title>
</head>
<body>
    <center>
        <h1>Admin Panel</h1>
        <form action="/publish" method="POST">
            <h3>Title:</h3>
            <input id="title_input" name="title_input" autocomplete="off">
            <h3>Description:</h3>
            <input id="description_input" name="description_input" autocomplete="off">
            <h3>Date:</h3>
            <input id="date_input" name="date_input" autocomplete="off">
            <h3>Content:</h3>
            <textarea rows="10" cols="100" class="adminContent" name="content_input" id="content_input" autocomplete="off"></textarea><p></p>
            <h3>Password confirm:</h3>
            <input id="password_input" name="password_input" autocomplete="off" type="password">
            <button class="login">Post!</button>
        </form>
    </center>
    <img src="{{ url_for('static', filename='images/miku.gif') }}" align="right" id="miku">
    <h2>Post number:</h2> <h2>{{number}}</h2>
    <h2>‎</h2>
    <a href="#scroll">
        <button class="login">All posts</button>
    </a>
    <div>
        <center>
            <h1 id="scroll">List of all posts</h1>
            <h2 id="isHidden">{{number2}}</h2>
            <hr width="20%" size="2">
            <div id="container">
    
            </div>
        </center>
    </div>
    <script src="{{ url_for('static', filename='posts.js') }}"></script>
</body>
</html>