<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Panel</title>
</head>
<body>
    <center>
        <h1>Admin Panel</h1>
        <h2>Post number: {{number}}</h2>
        <h3>Title:</h3>
        <input>
        <h3>Description:</h3>
        <input>
        <h3>Date:</h3>
        <input>
        <h3>Content:</h3>
        <textarea rows="10" cols="100" class="adminContent"></textarea><p></p>
        <button class="login">Post!</button>
    </center>
    <img src="{{ url_for('static', filename='images/miku.gif') }}" align="right" id="miku">
</body>
</html>