<!DOCTYPE html>
<html lang="pl">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post</title>
</head>
<body>
    <a href="./">
        <button class="headerBtn">Go back</button>
    </a>
    <center>
        <h1 class="title" id="title"></h1>
        <h2 id="description"></h2>
        <h3 id="date"></h3>
        <hr width="40%" size="2">
        <h3>‎</h3>
        <h3 id="contains"></h3>
    </center>
    <script src="{{ url_for('static', filename='post.js') }}"></script>
</body>
</html>